.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 50px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Contact {
  margin-top: 50px;
}
